In [ ]:
  pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.3.4-py3-none-any.whl (35 kB)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.9.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from snscrape) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.3.4

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import numpy as np

In [ ]:
# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#BesokSenin kerja since:2020-01-01 until:2022-07-31').get_items()):
    if i>=5000:
        break
    tweets_list2.append([tweet.date, tweet.username, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Date','Username', 'User ID', 'Tweet'])

In [ ]:
tweets_df2

,Date,Username,User ID,Tweet
0,2022-07-24 06:39:58+00:00,luckystrii,1551094822744002561,Kerja cape hati lebih nyiksa dari pada cape fi...
1,2022-07-17 15:15:19+00:00,bukan_febby,1548687798613393408,"Pantes saat gua kangen dia ,dan nyariin dia ka..."
2,2022-07-17 12:54:51+00:00,firman_fathor,1548652449920978944,Yang besok sekolah semangat sekolahnya\nYang b...
3,2022-07-03 16:52:39+00:00,eddyroso,1543638864006262784,"Tidur aje kali aje besok ade yg ngajak sat, se..."
4,2022-06-26 10:37:51+00:00,natriaaaaaa,1541007829078663169,SiAku \nSenin s/d Jumat kerja | 09.00- 16.00 =...
...,...,...,...,...
1208,2020-01-05 06:40:05+00:00,bolang_wj,1213711750920409088,â€œHujan itu merindu?. Kerja woii..Kalau cuma me...
1209,2020-01-05 05:05:17+00:00,LikaMulqi,1213687893387960320,#BesokSenin liburan selesai saatnya kembali ke...
1210,2020-01-05 00:20:00+00:00,AndriTorres02,1213616098764976128,Eskpresi Gue Setelah Tau Besok Mulai Kerja...\...
1211,2020-01-04 23:06:54+00:00,wildanhisyamt,1213597703633981440,#BesokSenin kerja lagi tak bisa rebahan lagi h...
1212,2020-01-04 19:34:45+00:00,Terlaludekat,1213544313239425025,#Besoksenin kerja dong ðŸ™ƒ