# NORMALISASI

In [ ]:
 pip install PySastrawi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: PySastrawi in /usr/local/lib/python3.7/dist-packages (1.2.0)

In [ ]:
import pandas as pd
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords

import numpy as np 
from math import log

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
#Data tweet
tweet = pd.read_csv('BesokSenin Tugas.csv', encoding='utf-8')

In [ ]:
tweet

,Unnamed: 0,Date,Username,User ID,Tweet
0,0,2022-03-06,crushercircle,"1,50051E+18",tugas!!!...\n#BesokSenin
1,1,2022-02-13,crushercircle,"1,49285E+18","awali hari dengan senin, tugas numpuk \n#Besok..."
2,2,2022-01-16,Dildil88,"1,48277E+18","""Pengen jadi istri tugasnya dirumah, ngk mesti..."
3,3,2022-01-16,CArdilova,"1,48269E+18",beban tugas menanti üòç\n#besoksenin
4,4,2022-01-09,JoInRi18,"1,48022E+18","Besok senin, hari pertama sekolah akan dimulai..."
...,...,...,...,...,...
379,379,2020-01-05,abagrego,"1,2138E+18","Bsok Senin siap"" di kasi tugas sama di marahin..."
380,380,2020-01-05,Irgsyhs,"1,21376E+18","Bukannya gue gak mau ke sekolah, tapi gue male..."
381,381,2020-01-05,Rupanya10,"1,21369E+18",#BesokSenin \nRupanya besok senin kuliah diawa...
382,382,2020-01-05,todayis_suga,"1,21369E+18","Besok Senin, besok senin, besok Senin, besok S..."
383,383,2020-01-05,beneranjadi,"1,21364E+18","Nikmatilah masa masa liburanmu, sebelum tugas ..."

In [ ]:
tweet_lower = tweet['Tweet'].str.lower()

In [ ]:
tweet_lower

0                               tugas!!!...\n#besoksenin
1      awali hari dengan senin, tugas numpuk \n#besok...
2      "pengen jadi istri tugasnya dirumah, ngk mesti...
3                     beban tugas menanti üòç\n#besoksenin
4      besok senin, hari pertama sekolah akan dimulai...
                             ...
379    bsok senin siap" di kasi tugas sama di marahin...
380    bukannya gue gak mau ke sekolah, tapi gue male...
381    #besoksenin \nrupanya besok senin kuliah diawa...
382    besok senin, besok senin, besok senin, besok s...
383    nikmatilah masa masa liburanmu, sebelum tugas ...
Name: Tweet, Length: 384, dtype: object

In [ ]:
#Tokenizing
tweet_token = []

for doc in tweet_lower :
  tweet_token.append(word_tokenize(doc))

In [ ]:
tweet_token

In [ ]:
def normalization(tokens) :
  kamus = {}
  with open('Kamus.txt') as kamus_normalisasi :
    for line in kamus_normalisasi :
      (key, val) = line.split("\t")
      kamus[key] = val
  tweet_normalization = []
  for word in tokens:
    if word in kamus :
      replace = kamus.get(word)
      tweet_normalization.append(replace.strip())
    else:
      tweet_normalization.append(word)
  return tweet_normalization

In [ ]:
#Normalization
tweet_norm = []

for doc in tweet_token:
  tweet_norm.append(normalization(doc))

In [ ]:
tweet_norm

In [ ]:
new = []
temp_stop = ''
for i in range(len(tweet_norm)):
  for token in tweet_norm[i]:
      temp_stop = temp_stop + token + ' '
  new.append(temp_stop)
  temp_stop = ''

In [ ]:
new

In [ ]:
hasil = pd.DataFrame(new)

In [ ]:
hasil

In [ ]:
hasil.set_axis(['Tweet'], axis='columns', inplace=True)

In [ ]:
hasil

In [ ]:
hasil['Tweet'].to_excel('normalisasi tugas.xlsx', index=False)

# LABELLING

In [ ]:
pip install vaderSentiment

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.7/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)

In [ ]:
import nltk
import pandas as pd
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [ ]:
# creating object of SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [ ]:
sentence = pd.read_csv('translate tugas.csv')

In [ ]:
sentence.dropna(inplace=True)

In [ ]:
# collecting blank tweet from data frame
blanks = []
for lb,rv in sentence.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blanks.append(lb)

In [ ]:
blanks

[]

In [ ]:
# creating object of SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
sid.polarity_scores(sentence.iloc[0]['Tweet'])
sentence['label'] = sentence['compound'].apply(lambda score: '1' if score > 0 else '-1')

In [ ]:
sentence['scores'] = sentence['Normalisasi'].apply(lambda review:sid.polarity_scores(review))

In [ ]:
sentence['scores'] = sentence['Tweet'].apply(lambda review:sid.polarity_scores(review))
sentence.head()

In [ ]:
sentence['compound'] = sentence['scores'].apply(lambda d:d['compound'])
sentence.head()

,Tweet,scores,compound
0,Duty ! ! ! ... # tomorrow,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1,"Monday starts the day with Monday, tasks pile ...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
2,"`` want to be a wife, his job is at home, you ...","{'neg': 0.057, 'neu': 0.877, 'pos': 0.066, 'co...",-0.0900
3,the workload waiting for üòç #tomorrow is,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
4,"monday tomorrow, the first day of school will ...","{'neg': 0.0, 'neu': 0.915, 'pos': 0.085, 'comp...",0.0772

In [ ]:
sentence['score'] = sentence['compound'].apply(lambda score: 'pos' if score > 0 else 'neg')

In [ ]:
sentence['label'] = sentence['compound'].apply(lambda score: '1' if score > 0 else '-1')
sentence

In [ ]:
# determining the name of the file
file_name = 'Label Tugas.xlsx'
  
# saving the excel
sentence.to_excel(file_name)